@charset "utf-8";
/* CSS Document */

/* login */
/* #login_area {width:400px; float:right; margin-right:50px;margin-top:550px} */
#login_area {width:270px;  margin:0 auto;} 
#login_area ul {padding:0px; margin:0;}
#login_area ul.logo {margin:250px 0 30px 0;}
#login_area ul.info {font-size:0.9em; margin-bottom:10px;}
#login_area ul.input li {margin-bottom:5px;}
#login_area ul.input li.login {margin:-77px 0 0 200px;}
#login_area ul.save {font-weight:bold; margin:10px 15px;float:right;}
#login_area ul.line {margin-bottom:20px; height:0px; border-top:1px solid #ddd; border-bottom:1px solid #fff; width:260px;}
#login_area ul.sub_info1 {margin:5px 0; color:#027da4; font-weight:bold; line-height:1.6em;}
#login_area ul.sub_info2 {margin:10px 0; line-height:1.6em;}
#login_area li {list-style:none;}
.h2 {font-size:35px;font-weight:bold;width:350px;margin:0 auto;padding-top:300px}
.input_login {width:192px; height:30px;}
.centerline {margin:20px auto;height:0px; border-top:1px solid #ddd; border-bottom:1px solid #fff; width:100%;}
/* Head Area */
#head_area {min-width:1200px; border-bottom:2px solid #000e55; height:67px; background-image:url(../img/top_area_bg.jpg);}
#head_area img.logo {padding:15px;}
#head_area ul {float:right; margin:36px 5px 0 5px !important; padding:0px; margin:0px;}
#head_sub_title {min-width:1200px; height:50px; background:#fff; border-bottom:1px solid #f0f0f0;}
#head_sub_title ul {padding:0px; margin:0px; float:left; }
#head_sub_title ul.title {width:220px; text-align:center; padding:16px 0 19px 0; background:#607D8B; font-weight:bold; font-size:1.1em; color:#fff;}
#head_sub_title ul.sub_title {margin:16px; font-size:1.2em; font-weight:bold;}
#head_sub_title ul.sub_title li {list-style:none; padding-top:3px;padding-left:3px;display:inline}

.sub_nav {float:right !important;  zoom:1; line-height:4em; list-style:none; color:#666666;}
.sub_nav li{float:left; background:url('./../img/icon_bluearrow.png') no-repeat 0 23px; padding:0 8px;}
.sub_nav li:first-child {background:url('./../img/icon_bluecircle.png') no-repeat 0 20px; padding-left:12px;}

.theme_blue {color:#027da4;}
.theme_bold {font-weight:bold;}

/* Contents */
#wrapper {width: auto;position:relative;min-height: 970px;}
#wrapper {padding:0px; margin:0px; }
#wrapper ul.sub_menu {padding:10px; width:200px; /*height:700px;*/background-color:#e6e6e6;position:relative;margin-top:0px;float:left}
#wrapper div.container {width: auto;padding: 30px 10px 30px 230px;/* float:left; */}
#wrapper li {}

/* Menu */
.mymenu {background:url('../img/mymenu_bg.png') no-repeat; border:1px solid #91b9dc; border-radius:5px; color:#0052a6; font-weight:bold; box-shadow:0px 1px 2px #a1a1a1; width:155px; padding:5px 0px 5px 30px !important; list-style:none;}
.sub_menu{list-style-image:url('../img/icon_fold.png'); list-style-position:inside; font-weight:bold;}
.sub_menu li{cursor:pointer; margin:5px 5px 5px 0px;}
.sub_menu li a:hover {text-decoration:none;}
.sub_menu>li>a{color:#2888ce; font-weight:bold;}
.menu {width:180px; background:url('../img/menu_bg.png') no-repeat; padding:5px 0 5px 10px;}
.scd {background:none !important; list-style-image:url('../img/icon_fold2.png'); width:160px;}
.scd.open {background:none !important; list-style-image:url('../img/icon_open2.png') !important;}
.scd ul li {color:#333 !important;}
.scd.highlight {color:#4fa5ff;}
.scd.highlight a:hover {color:#4fa5ff;}
.menu.open {list-style-image:url('../img/icon_open.png');}
.menu ul{float:none !important; list-style:url('../img/icon_circle.png'); border-radius:3px; }
.menu ul li{margin-left:-15px;  padding:3px 0;}
.scd p{padding:0px !important; color:#000 !important; font-weight:normal !important; }
.scd ul li{margin:5px 0 !important;}
.scd ul{background:none !important;}
.menu .hide{display:none;}


#info_search_title {width:100%; background:#4ea5ff; height:47px; border:1px solid #3d81ff; border-radius:4px;}
#info_search_title ul {padding:12px 0; color:#fff; border-right:1px solid #4591ff; font-size:1.1em; font-weight:bold; width:24.5%; text-align:center;}
#info_search_title ul:last-child {border-right:0px;}
#info_search_title ul.radio {padding:16px 0;}

#info_search_title2 {width:600px; background:#f9fafa; height:47px; border:1px solid #bdc6cf; border-radius:4px;}
#info_search_title2 ul {padding:12px 0; color:#303e55; font-size:1.1em; font-weight:bold; text-align:center;}
#info_search_title2 ul.con1 {width:250px;}
#info_search_title2 ul.con2 {width:350px;}
#info_search_title2 ul.con3 {position:absolute; margin:5px 0px 0px 620px;}

.left_content {float:left; width:200px; padding-right:20px;}
.right_content {float:left; margin:0 0 0 20px; width:680px;}

.reg_title {width:100%; background:#f9fafa; height:47px; border:1px solid #bdc6cf; border-radius:4px;}
.reg_title p {padding:15px 20px; color:#303e55; font-size:1.1em; font-weight:bold; text-align:left;}

.cover_bg {background: rgb(0, 0, 0); position:absolute; width: 100%; height: 100%; filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6; z-index:50;}
.dialog {position:absolute; left:50%; top:50%; background:#fff; z-index:100 !important; width:330px; height:270px; margin-left:-165px; margin-top:-105px;}
.dialog_title {background:#4da5fe; color:#fff; height:40px; line-height:3em; font-size:1.1em; padding:0 0 0 20px; font-weight:bold;}
.dialog_content {height:100px;}
.dialog_confirm {clear:both; text-align:center; background:#e7ecf2; border-top:1px solid #bdc5cf; height:38px;padding-top:25px;}

.tabs p {float:left;}
.tabs .ui-tabs-nav a{color:#8f98a0 !important;}
.tabs .ui-tabs-nav a:hover{text-decoration:none;}
.tabs .ui-tabs-nav {float:right !important; padding:0; margin:0; list-style:none; zoom:1; margin-top:-48px !important;}
.tabs .ui-tabs-nav li{float:left; text-align:center; line-height:4em; width:90px;}
.tabs .ui-state-active {font-weight:bold; background:#fff; border-left:1px solid #bdc6cf;border-right:1px solid #bdc6cf;}


.form_check_style1 {width:15px; padding:2px; margin-right:5px;}
.form_sel_style1 {width:100px; padding:2px; border-radius:4px}
.form_input_style1 {width:100%; height:20px; border:1px solid #cad5df; border-radius:4px;}
.form_input_style2 {width:70px; height:20px; border:1px solid #cad5df; border-radius:4px; padding-left:5px}
.form_input_style3 {width:99%; border:1px solid #cad5df; border-radius:4px;}

.table_style1 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style1 th {text-align:center; background:#859FBF; padding:10px 0; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;color:#fff}
.table_style1 th:last-child {border-right:0px;}
.table_style1 tr {background:#fff;}
.table_style1 tr.bg2 {background:#f2f7ff;}
.table_style1 td {padding:8px 8px; border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db;}
.table_style1 td:first-child {text-align:center;}
.table_style1 td:last-child {border-right:0px;}

.table_style1_1 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style1_1 th {text-align:center; background:#859FBF; padding:10px 0; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;color:#fff}
.table_style1_1 th:last-child {border-right:0px;}
.table_style1_1 tr {background:#fff;}
.table_style1_1 tr.bg2 {background:#f2f7ff;}
.table_style1_1 td {padding:8px 8px; border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db;}
.table_style1_1 td:first-child {text-align:center;}
.table_style1_1 td:last-child {border-right:0px;}

.table_style2 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style2 tr {}
.table_style2 th {text-align:center; padding:12px 0px; border-left:1px solid #ddd; border-right:1px solid #ddd; color:#477199;}
.table_style2 th:first-child {border-left:0px;}
.table_style2 td {padding:6px;}

.table_style3 {border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style3 th.title {text-align:left; background:#cad5e4; padding:10px 15px;}
.table_style3 th {text-align:center; padding:10px 0;}
.table_style3 tr {background:#fff; border-bottom:1px solid #bdc6cf;}
.table_style3 td {padding:8px 8px; border-right:1px solid #d2dae2;}
.table_style3 td:last-child {border-right:0px;}

.table_style4 {border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style4 th {text-align:center; background:#799def; padding:10px 15px; color:#fff; letter-spacing:-1px; border-right:1px solid #6b8ad2;}
.table_style4 th:last-child {border-right:0px;}

.table_style4 td {padding:8px 8px; border-right:1px solid #d2dae2; border-bottom:1px solid #ddd; text-align:center;}
.table_style4 td:last-child {border-right:0px;}
.table_style4 tr.bg2 {background:#eaf1f3;}

.table_style5 th{background:#efefef; text-align:center; color:#5a5b5c; height:40px;border-top:1px solid #bdc6cf; border-bottom:1px solid #bdc6cf; border-right:1px solid #bcc6cf;}
.table_style5 td {background:#fff; border-bottom:1px solid #bdc6cf; padding:0 10px;    border-right: 1px solid #bcc6cf;}
.table_style5 {border:1px solid #bdc6cf; border-collapse:collapse; color:#333; width:100%; border-top:none; padding:0;}

.table_style6 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style6 th {text-align:center; background:#e3e9f1; padding:10px 0; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;}
.table_style6 th:last-child {border-right:0px;}
.table_style6 tr {background:#fff;}
.table_style6 tr.bg2 {background:#f2f7ff;}
.table_style6 td {padding:8px 8px; text-align:right; border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db;}
.table_style6 td:first-child {text-align:center;}
.table_style6 td:last-child {border-right:0px;}

.table_style7 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style7 th {text-align:center; background:#e3e9f1; padding:10px 0; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;}
.table_style7 th:last-child {border-right:0px;}
.table_style7 tr {background:#fff;}
.table_style7 tr.bg2 {background:#f2f7ff;}
.table_style7 td {padding:4px 2px; font-size:0.9em; text-align:right; border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db;}
.table_style7 td:first-child {text-align:center;}
.table_style7 td:last-child {border-right:0px;}

.table_style8 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style8 th {text-align:left; background:#e3e9f1; padding:10px 8px; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;}
.table_style8 th:last-child {border-right:0px;}
.table_style8 tr {background:#fff;}
.table_style8 tr.bg2 {background:#f2f7ff;}
.table_style8 td {padding:8px 8px; border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db;}
.table_style8 td:first-child {text-align:center;}
.table_style8 td:last-child {border-right:0px;}

.table_style9 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style9 th { background:#e3e9f1; padding:10px 8px; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;}
.table_style9 th:last-child {border-right:0px;}
.table_style9 tr {background:#fff;}
.table_style9 tr.bg2 {background:#f2f7ff;}
.table_style9 td {padding:8px 8px; border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db;}
.table_style9 td:first-child {text-align:center;}
.table_style9 td:last-child {border-right:0px;}

.table_style10 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style10 th {text-align:left; background:#e3e9f1; padding:10px 8px; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;}
.table_style10 th:last-child {border-right:0px;}
.table_style10 tr {background:#fff;}
.table_style10 tr.bg2 {background:#f2f7ff;}
.table_style10 td {padding:8px 8px; border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db;}
.table_style10 td:first-child {text-align:center;}
/*.table_style8 td:last-child {border-right:0px;}*/

.table_style11 {width:100%; border:1px solid #bdc6cf; padding:0px; margin:0px; border-radius:4px;}
.table_style11 th {text-align:center; background:#e3e9f1; border-right:1px solid #ccd4db; border-bottom:1px solid #ccd4db;}
.table_style11 th:last-child {border-right:0px;}
.table_style11 tr {background:#fff;}
.table_style11 tr.bg2 {background:#f2f7ff;}
.table_style11 td { border-right:1px solid #d2dae2; border-bottom:1px solid #ccd4db; text-align:right;}
.table_style11 td:first-child {text-align:center;}

.table_style_modal {width:80%; margin-top:20%;}
.table_style_modal th {color:#949ba3; width:100px;}

.view_explain {font-size:1.1em; font-weight:bold; color:#4ea5ff; line-height:1.6em;}
.view_explain2 {font-size:1.3em; font-weight:bold; color:#333; line-height:1.6em;}

/* BOTTOM  */
#bottom{ position:relative;bottom:0px;margin-top:20px; width: 100%; height: 40px; background-color: #000000;}
#bottom .company{position:relative;font-family: 'NanumGothic';font-size:0.8em;margin: 0 auto; color: #999999;width: 350px;padding-top: 15px}

/* 버튼  */
#btn_area {width:100%; text-align:right; margin-top:20px;}
.btn_right {clear:both; margin-top:20px; width:100%; text-align:right;}
.btn_area_a {background:#82ABF8; color:#fff !important; font-weight:bold; margin-left:5px; border:1px solid #3d81ff; padding:5px 15px; border-radius:4px;}
.btn_area_a2 {background:#82ABF8; color:#333 !important; font-weight:bold; margin-left:5px; border:1px solid #ccc; padding:5px 15px; border-radius:4px;}
.btn_area_b{background:#82ABF8; color:#fff !important; font-weight:bold; margin-left:5px; border:1px solid #3d81ff; padding:5px 15px; border-radius:4px;float:right}
.btn_area_x {background-color:orange; color:#fff !important; font-weight:bold; margin-left:5px; padding:5px 15px; border-radius:4px;}

#page_num {width:100%; text-align:center; margin-top:20px;}
.page_btn1 {border:1px solid #ddd; padding:5px 7px;; background:#fff;}
.page_btn2 {border:0px solid #333; color:#fff !important; padding:5px 7px;; background:#333;}


#container_st1 {width:100%;}
#container_st1 ul {float:left; width:465px;}
#container_st1 ul:last-child {padding-left:20px;}
#container_st1 li {list-style:none;}
#container_st1 li.title {font-size:1.12em; font-weight:bold; margin-bottom:15px;}
#container_st1 li.contents {background:#fff; border:1px solid #ddd; border-radius:4px; padding:10px;}

#container_st2 {width:100%; padding-top:30px; clear:both;}
#container_st2 ul {float:left; width:453px; background:#fff; border:1px solid #ddd; padding:10px;}
#contaoner_st2 ul:first-child {}
#container_st2 ul:last-child {padding-left:10px;}
#container_st2 li {list-style:none;}
#container_st2 li.title {font-size:1.12em; font-weight:bold; margin-bottom:15px;}
#container_st2 li.contents {background:#fff; border:1px solid #ddd; border-radius:4px; padding:10px;}

#contents_sub_area {margin-top:30px;}
#contents_sub_area ul {float:left;}
#contents_sub_area ul.left {width:180px;}
#contents_sub_area ul.right {padding-left:20px; width:750px; margin-top:35px;}
#contents_sub_area li {list-style:none; font-size:1.2em;}
#contents_sub_area li.title {font-weight:bold;}
#contents_sub_area li.scroll_area {height:500px; overflow:scroll; background:#fff; border:1px solid #ddd; margin-top:20px;}
#contents_sub_area li {}
#contents_sub_area li {}

/* 페이징  */
#pageSpan{cursor:pointer;}
#currentPageSpan{cursor:pointer; color:red;}

/* 페이지 서브타이틀  */
.top_title{font-family: "나눔고딕","NanumGothic", Arial,Helvetica,sans-serif;float: left; margin: 5px 5px 20px 0px; position: relative;width: 100%;border-bottom:1px solid #d6d6d6;padding-top:0px;padding-bottom:10px ;}
.top_title h2{font-family: "나눔고딕","NanumGothic", Arial,Helvetica,sans-serif;float: left;font-size:18px;font-weight: bold;color: #333;}
.top_title span{float: left;position: absolute;right: 20px;top: 30px;color: #bdbdbd;font-size: 11px; font-family: "NanumGothic", Arial,Helvetica,sans-serif;}
.top_title span a{color: #bdbdbd;font-size: 11px;}
.top_title span strong{color:#ABB0B4 ;font-weight: normal;}

/* 스타일 버튼(블루) */
.myButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:4px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* 스타일 버튼(화이트) */
.myButton2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:4px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton2:active {
	position:relative;
	top:1px;
}
/*LNB 메뉴  */
.menu_v{position:relative;width:200px;font-size:12px;font-family:Tahoma, Geneva, sans-serif;line-height:normal}
.menu_v ul{margin:0;padding:0;list-style:none}
.menu_v li{position:relative;margin:0 0 0px 0;vertical-align:top;*zoom:1}
.menu_v li a{display:block;position:relative;padding:8px 10px;color:#666;font-weight:bold;text-decoration:none;background:#fafafa;border:1px solid #eee;*zoom:1}
.menu_v li a .i{position:absolute;top:50%;left:100%;width:8px;height:8px;margin:-4px 0 0 -16px;color:#ccc;background:url(../img/ico_sub.gif) no-repeat left top}
.menu_v li ul li{padding:0px 0;background:#fafafa; margin:0}
.menu_v li ul li a{padding:5px 10px 5px 25px; background:#fafafa;font-weight:normal}
.menu_v li ul li a span{color:#666}
.menu_v li.active{z-index:0;border:0px solid #859FBF}
.menu_v li ul li.active{border:0}
.menu_v li.active a{border:0;color:#000}
.menu_v li.active li a{border:0}
.menu_v li.active ul{display:block;border:1px solid #859FBF}
.menu_v li.active li.active a span{font-weight:bold;color:#13b200;letter-spacing:-1px}
